<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Peerjs group chat</title>
	<script type="text/javascript" src="//code.jquery.com/jquery-1.4.2.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/peerjs/0.3.16/peer.min.js"></script>
	<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
	<script src="{{ url_for('static', filename='js/functions.js') }}"></script>
	<link rel="stylesheet" href={{ url_for('static', filename='css/main.css') }}/>
</head>
<body>
	<div class="field">
		<script src="{{ url_for('static', filename='js/main.js') }}"></script>
	</div>
</body>